//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  display: inline-block;
  @include adaptiveValue("font-size", 24, 18);
  line-height: 125%; /* 30/24 */
  text-transform: uppercase;
  color: #ffffff;
  background-color: #c00021;
  border-radius: rem(10);
  padding: 0 rem(72);

  @include adaptiveValue("padding-top", 14, 10);
  @include adaptiveValue("padding-bottom", 14, 10);
  @include adaptiveValue("padding-left", 72, 50);
  @include adaptiveValue("padding-right", 72, 50);
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 0 20px 5px #c00021;
    }
  }
  &_black {
    background-color: #232323;
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 20px 5px #232323;
      }
    }
  }
  &._fw {
    width: 100%;
  }
}
