.checkbox {
  position: relative;

  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus + .checkbox__label:before {
      box-shadow: 0 0 5px #000;
    }
    &:checked + .checkbox__label:before {
      background: #000;
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 10px;
    &:before {
      content: "";
      align-self: flex-start;
      flex: 0 0 20px;
      width: 20px;
      height: 20px;
      border: 1px solid #a7a9ac;
    }
  }
  // .checkbox__text
  &__text {
  }
}

//========================================================================================================================================================

.checkbox-color {
  & input:checked + label span {
    outline: 2px solid rgba(35, 35, 35, 0.75);
    @include adaptiveValue("outline-offset", 4, 2);
  }

  & input:disabled + label span {
    outline: none;
    outline-offset: 0;
    border: 3px solid #f9f9f9;
    position: relative;
    opacity: 0.4;

    &::before {
      content: "";
      width: rem(2);
      height: 100%;
      transform: rotate(45deg) translateX(-50%);
      position: absolute;
      top: rem(2);
      left: 50%;
      background-color: #f9f9f9;
    }
  }

  & label {
    &::before,
    &::after {
      display: none;
    }
  }

  & span {
    @include adaptiveValue("width", 38, 26);
    @include adaptiveValue("height", 38, 26);
    border-radius: 50%;
  }
}
