//====================================================================================================
.main {
  @include adaptiveValue("padding-bottom", 130, 40, 1170, 767, 2);
  &__body {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr percent(425, 1170);
      @include adaptiveValue("gap", 78, 30, 1170, 991, 1);
    }
  }

  &__content {
    @media (min-width: $tablet) {
      padding: rem(169) 0 0;
    }
    padding: rem(40) 0 rem(25);
  }

  &__title {
    position: relative;
    margin-bottom: rem(30);
    @media (min-width: $tablet) {
      margin: 0 0 rem(169);
    }

    & span {
      @media (min-width: $tablet) {
        position: absolute;
        bottom: rem(12);
        right: 0;
        margin-top: rem(0);
      }
      display: block;
      margin-top: em(20, 30);

      @include adaptiveValue("font-size", 30, 20);
      line-height: 106.7%; /* 32/30 */
    }
  }

  &__button {
    @media (max-width: $mobileSmall) {
      width: 100%;
    }
  }

  &__image-ibg {
    @media (max-width: $tablet) {
      padding-bottom: 80%;
      margin: 0 rem(-15);
    }
  }
}

//====================================================================================================

.projects {
  position: relative;
  @media (max-width: $mobile) {
    padding-bottom: rem(30);
  }

  @media (min-width: $mobile) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
      background-color: #c00021;
      z-index: 1;
    }
  }
  &__body {
    position: relative;
    z-index: 2;

    @include adaptiveValue("gap", 78, 30, 1170, 991, 2);

    @media (min-width: $mobile) {
      display: grid;
      grid-template-columns: minmax(rem(320), percent(425, 1170)) 1fr;
    }
    @media (max-width: $mobile) {
      gap: rem(15);
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__slider {
  }

  &__wrapper {
  }

  &__content {
    @media (min-width: $mobile) {
      display: grid;
      grid-template-rows: repeat(2, rem(295));
    }
    @media (min-width: $pc) {
      grid-template-rows: repeat(2, rem(420));
    }
    @media (max-width: $mobile) {
      background-color: #c00021;
      margin: 0 rem(-15);
      padding: rem(30) rem(15);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    @media (max-width: $mobile) {
      color: #ffffff;
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
    @media (min-width: $mobile) {
      justify-content: center;
    }

    &_number {
      @media (min-width: $tablet) {
        flex-direction: row;
      }
      @media (min-width: $mobile) {
        align-items: center;
        justify-content: center;
      }
      @include adaptiveValue("gap", 60, 5, 1170, 991, 1);
    }
    & span {
      font-weight: 800;
      @include adaptiveValue("font-size", 120, 40);
      line-height: 125%; /* 150/120 */
      text-transform: uppercase;
      color: #ffffff;
    }
  }

  &__text {
    display: inline-block;
    @include adaptiveValue("font-size", 40, 24);
    line-height: 125%; /* 50/40 */
    text-transform: uppercase;
    color: #ffffff;
  }

  &__title {
    font-weight: 800;
    @include adaptiveValue("font-size", 40, 24);
    line-height: 125%; /* 50/40 */
    text-transform: uppercase;
  }

  &__link {
    @include adaptiveValue("font-size", 24, 18);
    line-height: 125%; /* 30/24 */
    text-transform: uppercase;
    @include adaptiveValue("margin-top", 63, 30, 1170, 767, 1);
    margin-left: auto;
    display: inline-block;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.slider-projects {
  &__slide-ibg {
    padding-bottom: percent(620, 425);
  }

  &__controls {
    @include adaptiveValue("margin-top", 70, 30, 1170, 767, 1);
    display: flex;
    align-items: center;
    column-gap: rem(17);
  }
  &__controls-num {
    font-weight: 800;
    @include adaptiveValue("font-size", 30, 20, 1170, 767, 1);
    line-height: 123.3%; /* 37/30 */
    text-transform: uppercase;
    color: #c00021;
  }

  &__progressbar {
  }
}

//========================================================================================================================================================

.advice {
  position: relative;
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 90, 50, 1170, 767, 2);

  @media (min-width: $mobile) {
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background-color: #ff6700;
      z-index: 1;
    }
  }

  &__container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  &__title {
  }

  &__subtitle {
    @include adaptiveValue("font-size", 30, 18);
    line-height: 123.3%; /* 37/30 */
    text-transform: uppercase;
    max-width: rem(555);
    &:not(:last-child) {
      @include adaptiveValue("margin-top", 30, 15);
    }
  }

  &__image-ibg {
    padding-bottom: percent(840, 1170);
    &:not(:last-child) {
      @include adaptiveValue("margin-top", 60, 25);
      @include adaptiveValue("margin-bottom", 60, 25);
    }
  }
  &__content {
    @media (max-width: $mobile) {
      background-color: #ff6700;
      margin: 0 rem(-15);
      padding: rem(30) rem(15);
    }
  }

  &__text {
    color: #ffffff;
    @include adaptiveValue("font-size", 24, 16);
    line-height: 125%; /* 30/24 */
    &:not(:last-child) {
      @include adaptiveValue("margin-top", 43, 20);
    }
    & p {
      &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 15, 10);
      }
    }
  }

  &__link {
    @include adaptiveValue("margin-top", 50, 30);
    margin-left: auto;
  }
}

//========================================================================================================================================================

.reviews {
  background: #c00021;
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 90, 30);
  &__body {
  }

  &__title {
    @include adaptiveValue("margin-bottom", 100, 30);
  }

  &__slider {
  }
}

.reviews-slider {
  &.swiper {
    overflow: visible;
  }
  &__wrapper {
  }

  &__slide {
  }

  &__controls {
    @include adaptiveValue("margin-top", 75, 15);
    display: flex;
    align-items: center;
    gap: rem(13);
  }

  &__progressbar {
    flex-grow: 1;
    height: rem(6);
    background: rgba(249, 249, 249, 0.23);
  }

  &__navigation {
  }

  &__arrow {
  }
}

.slide-reviews {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding", 32, 15);
  @include adaptiveValue("border-radius", 32, 15);
  background: #ffffff;
  color: rgba(35, 35, 35, 0.75);
  &__text {
    font-size: rem(24);
    @include adaptiveValue("font-size", 24, 16);
    line-height: 140%;
    flex-grow: 1;

    & p {
      &:not(:last-child) {
        margin-bottom: rem(15);
      }
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 20);
    }
  }

  &__author {
    font-size: rem(24);
    @include adaptiveValue("font-size", 24, 18);
    line-height: 125%; /* 30/24 */

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__sity {
    font-size: rem(16);
    line-height: 125%; /* 20/16 */
    color: rgba(35, 35, 35, 0.5);
  }
}

//========================================================================================================================================================

.why-us {
  position: relative;
  background: url("@img/why-us/01.jpg") 0 0 / cover no-repeat;
  @include adaptiveValue("padding-top", 60, 30);
  @include adaptiveValue("padding-bottom", 135, 40);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(35, 35, 35, 0.9);
  }

  &__body {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-weight: 800;

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 300, 50, 1170, 991, 1);
    }
  }

  &__items {
    position: relative;
    display: grid;

    @include adaptiveValue("row-gap", 70, 30, 1170, 991, 1);
    @include adaptiveValue("column-gap", 60, 40, 1170, 991, 1);

    @media (min-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);

      &::before {
        content: "";
        position: absolute;
        width: rem(2);
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ffffff;
      }
    }
  }

  &__item {
  }
}

.item-why-us {
  &__title {
    @include adaptiveValue("font-size", 40, 22);
    line-height: 125%; /* 50/40 */
    text-transform: uppercase;
    color: #ffffff;
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 32, 15);
    }
  }

  &__text {
    font-weight: 400;
    @include adaptiveValue("font-size", 22, 16);
    line-height: 140%;
    color: rgba(249, 249, 249, 0.75);
  }
}

//========================================================================================================================================================
